@model WebIot.Models.TrangChu
@{
    ViewData["Title"] = "TrangChu";
    Layout = "~/Views/_Layout/_Layout.cshtml";
}
<p>Id - @Model.thongTinNguoiDung.NguoiDungId</p>
<p>Tên - @Model.thongTinNguoiDung.TenNguoiDung</p>
<p>Email - @Model.thongTinNguoiDung.Email</p>
<p>Vai trò - @Model.thongTinNguoiDung.VaiTro</p>
<p>Số điện thoại - @Model.thongTinNguoiDung.SoDienThoai</p>