@model IEnumerable<CungCapAPI.Models.NguoiDung>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KichHoat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaiKhoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatKhauMaHoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatKhauMuoi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaoVao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapNhatVao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LanCuoiDangNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DangNhaploi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhoaKetThuc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KichHoat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhauMaHoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhauMuoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaoVao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapNhatVao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LanCuoiDangNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DangNhaploi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhoaKetThuc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NguoiDungId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NguoiDungId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NguoiDungId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
